*.php
*.css
*.php
*.js
!css/style.css
!includes/rules-engine.php
!includes/shortcodes.php
!includes/vendor.php
!js/owl.carousel.min.js
!js/scripts.js
!js/vendor_script.js
!templates/archive-vendor.php
!templates/single-vendor.php
!badgeos-woocommerce-vendor-addon.php
